.admin-header {
    background: #171717;
}

.stats {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 12px;

    margin-bottom: 18px;
}

.stat {
    background: white;

    border-radius: 14px;

    padding: 20px;
}

.stat b {
    display: block;

    font-size: 28px;
}

.stat span {
    color: #697586;
}

.scanner-panel {
    background: white;

    border-radius: 16px;

    padding: 22px;

    margin-bottom: 20px;

    max-width: 700px;
}

#reader {
    width: 100%;

    max-width: 600px;

    margin: auto;

    overflow: hidden;

    border-radius: 12px;
}

#scanResult {
    font-size: 25px;

    font-weight: bold;

    word-break: break-all;
}

select {
    width: 100%;

    padding: 13px;

    border-radius: 9px;

    border: 1px solid #d7dde7;

    font-size: 16px;

    margin-bottom: 12px;
}

@media(max-width:700px) {

    .stats {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .order-card {
        flex-direction: column;

        align-items: flex-start;
    }

}
